In [1]:
import pandas as pd
import os

In [2]:
INPUT_DATA_LOC = "input/all_hist_data"

In [27]:
def get_symbols():    
    return [x.split(".")[0] for x in os.listdir(INPUT_DATA_LOC)]
get_stock_list = get_symbols
get_stonks = get_symbols
len(get_symbols())

1659

In [4]:
def get_symbol_history(symbol):
    if os.path.exists(os.path.join(INPUT_DATA_LOC, symbol+".csv")):
        return pd.read_csv(os.path.join(INPUT_DATA_LOC, symbol+".csv"))

In [26]:
df_refex = get_symbol_history("TI")
df_refex.sort_values("Timestamp")
df_refex.head(n=20)

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Timestamp
0,TI,EQ,16-Jul-2010,156.85,160.10,169.00,158.25,167.00,168.20,165.16,577023,9.530396e+12,NaN,135411,0.2347,1.279219e+09
1,TI,EQ,19-Jul-2010,168.20,165.05,198.00,164.00,187.25,187.75,183.82,1109041,2.038669e+13,NaN,372536,0.3359,1.279478e+09
2,TI,EQ,20-Jul-2010,187.75,190.00,190.00,179.40,181.65,181.80,183.49,254173,4.663872e+12,NaN,71996,0.2833,1.279564e+09
3,TI,EQ,21-Jul-2010,181.80,182.25,188.10,176.70,182.80,180.55,182.48,76997,1.405052e+12,NaN,30078,0.3906,1.279651e+09
4,TI,EQ,22-Jul-2010,180.55,182.75,197.25,181.00,192.55,193.20,191.46,346429,6.632853e+12,NaN,90070,0.26,1.279737e+09
5,TI,EQ,23-Jul-2010,193.20,197.15,204.20,193.20,194.50,195.80,199.82,434488,8.681929e+12,NaN,86136,0.1982,1.279823e+09
6,TI,EQ,26-Jul-2010,195.80,197.40,197.40,184.60,185.70,185.55,189.89,59089,1.122054e+12,NaN,20956,0.3547,1.280083e+09
7,TI,EQ,27-Jul-2010,185.55,184.50,197.30,184.50,192.00,191.35,193.00,116622,2.250818e+12,NaN,20128,0.1726,1.280169e+09
8,TI,EQ,28-Jul-2010,191.35,191.35,195.00,188.00,188.60,189.05,192.62,64857,1.249263e+12,NaN,17674,0.2725,1.280255e+09
9,TI,EQ,29-Jul-2010,189.05,190.70,195.95,188.10,188.40,189.30,191.97,31017,5.954377e+11,NaN,11959,0.3856,1.280342e+09
10,TI,EQ,30-Jul-2010,189.30,189.50,206.00,189.00,190.00,192.70,199.26,176673,3.520419e+12,NaN,37827,0.2141,1.280428e+09
11,TI,EQ,02-Aug-2010,192.70,192.80,196.20,160.00,193.00,193.50,193.19,78903,1.524366e+12,NaN,18673,0.2367,1.280687e+09
12,TI,EQ,03-Aug-2010,193.50,193.10,195.80,189.80,192.00,190.80,193.10,50760,9.801820e+11,NaN,29478,0.5807,1.280774e+09
13,TI,EQ,04-Aug-2010,190.80,193.15,195.30,190.55,193.50,193.05,193.02,26334,5.083069e+11,NaN,11283,0.4285,1.280860e+09
14,TI,EQ,05-Aug-2010,193.05,194.90,196.70,189.05,189.50,190.10,192.89,44151,8.516249e+11,NaN,23498,0.5322,1.280947e+09
15,TI,EQ,06-Aug-2010,190.10,189.60,204.00,189.60,201.60,199.50,199.30,146199,2.913797e+12,NaN,53345,0.3649,1.281033e+09
16,TI,EQ,09-Aug-2010,199.50,202.80,224.40,195.05,213.80,213.60,215.24,801402,1.724912e+13,NaN,171003,0.2134,1.281292e+09
17,TI,EQ,10-Aug-2010,213.60,216.00,222.30,212.30,219.95,219.80,218.81,352182,7.705975e+12,NaN,120027,0.3408,1.281379e+09
18,TI,EQ,11-Aug-2010,219.80,220.70,247.80,218.25,233.00,234.30,233.91,755332,1.766769e+13,NaN,170334,0.2255,1.281465e+09
19,TI,EQ,12-Aug-2010,234.30,232.95,246.00,226.00,235.00,233.25,239.04,391129,9.349537e+12,NaN,83618,0.2138,1.281551e+09

In [16]:
df_refex["ma_10"] = df_refex["Close Price"].rolling(window=10).mean()
df_refex

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Timestamp,ma_10
0,TI,EQ,16-Jul-2010,156.85,160.10,169.00,158.25,167.00,168.20,165.16,577023,9.530396e+12,NaN,135411,0.2347,1.279219e+09,NaN
1,TI,EQ,19-Jul-2010,168.20,165.05,198.00,164.00,187.25,187.75,183.82,1109041,2.038669e+13,NaN,372536,0.3359,1.279478e+09,NaN
2,TI,EQ,20-Jul-2010,187.75,190.00,190.00,179.40,181.65,181.80,183.49,254173,4.663872e+12,NaN,71996,0.2833,1.279564e+09,NaN
3,TI,EQ,21-Jul-2010,181.80,182.25,188.10,176.70,182.80,180.55,182.48,76997,1.405052e+12,NaN,30078,0.3906,1.279651e+09,NaN
4,TI,EQ,22-Jul-2010,180.55,182.75,197.25,181.00,192.55,193.20,191.46,346429,6.632853e+12,NaN,90070,0.26,1.279737e+09,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2895,TI,EQ,17-May-2021,41.45,42.30,42.50,40.85,41.70,41.35,41.53,256124,1.063800e+07,2087.0,152249,59.44,1.621190e+09,42.100
2896,TI,EQ,18-May-2021,41.35,42.05,42.70,41.20,41.70,41.50,41.71,243706,1.016500e+07,1988.0,143151,58.74,1.621276e+09,42.085
2897,TI,EQ,19-May-2021,41.50,41.50,43.75,40.65,43.50,43.45,42.93,1365068,5.860200e+07,6222.0,808600,59.24,1.621363e+09,42.115
2898,TI,EQ,20-May-2021,43.45,43.75,43.75,41.40,42.05,42.05,42.49,744663,3.164100e+07,3445.0,525987,70.63,1.621449e+09,42.070
2899,TI,EQ,21-May-2021,42.05,42.05,43.95,42.05,42.50,42.80,43.34,1229420,5.328200e+07,5193.0,724098,58.9,1.621535e+09,42.225